.button {
    display: block;
    width: 150px;
    height: 30px;
    background: $main_color;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        color: #fff;
        font-size: 16px;
        line-height: 25px;
    }
    &_submit {
        font-size: 16px;
        width: 100%;
        height: 55px;
    }
    &_mini {
        font-size: 14px;
        width: 130px;
        height: 40px;
    }
}
