.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 51px 54px 55px 54px;
    }
    &__addr {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 36px;
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
        margin-bottom: 36px;
        &:hover {
            color: #ffffff;
        }
    }
    &__socials {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        a {
            font-size: 24px;
            width: 52px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 100%;
            margin: 0 13px;
            text-decoration: none;
            transition: 0.6s all;
            &:hover {
                background: #ffffff;
                color: $main-color;
                transition: 0.6s all;
            }
        }
    }
}
