@media screen and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }
    .prev,
    .next {
        display: none;
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .footer {
        &__info {
            width: 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        &__logo {
            width: 40%;
        }
        &__official {
            width: 40%;
        }
        &__contacts {
            display: flex;
            flex-direction: row;
            width: 95%;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;
        }
    }

    .promo {
        background-position: -400px;
        &__wrapper {
            align-items: center;
            text-align: center;
        }
        &__icons {
            width: 100%;
        }
        &__icon {
            width: 30%;
            justify-content: space-around;
        }
    }

    .benefits {
        &__items {
            flex-wrap: wrap;
        }
        &__item {
            width: 80%;
            margin: 0 10px;
            padding-bottom: 20px;
        }
    }
    .consultation {
        min-height: 680px;
        &__descr {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
    }
    .feed-form {
        width: 100%;
    }
    .title_left {
        text-align: center;
        font-size: 27px;
        line-height: 40px;
    }
    .catalog {
        padding-bottom: 80px;
        &__tabs {
            margin-top: 30px;
        }
        &__tab {
            font-weight: 400;
            font-size: 10px;
            line-height: 26px;
            width: 100px;
            height: 30px;
            margin: 0 5px;
            &:hover {
                box-shadow: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        &__logo {
            width: 80%;
            padding-bottom: 15px;
        }
        &__official {
            width: 80%;
        }
    }
    .benefits {
        padding: 50px 0 50px 0;
        &__title {
            padding-bottom: 40px;
        }
    }
    .reviews {
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__photo {
                margin: 0;
                margin-bottom: 20px;
            }
        }
    }
}
